<h1>Sub Show Page</h1>

<h2><%= @sub.title %></h2>
<p><%= @sub.description %></p>



<table>
  <% @sub.posts.each do |post| %>
  <tr>
    <td>Title: </td><td> <%=post.title %></td>
  </tr>
  <tr>
    <td>URL: </td><td> <%=post.url %></td>
  </tr>
  <tr>
    <td>Content: </td><td> <%=post.content %></td>
  </tr>
  <% end %>
</table>

<br>

<a href="<%= new_post_url %>">Create new post</a>

<br>
<a href="<%= edit_sub_url %>">Edit Sub</a>
<br>
<a href="<%= subs_url %>">Back to Index</a>

